@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Xóa khách hàng";
}
<h1>@ViewBag.Title</h1>
<div class="box box-danger">
    <div class="box-body">
        <form action="#">
            <div class="form-group">
                <label>Tên khách hàng:</label>
                <p class="form-control-static">Nguyễn Khắc Trung</p>
            </div>
            <div class="form-group">
                <label>Tên giao dịch:</label>
                <p class="form-control-static">Trung</p>
            </div>
            <div class="form-group">
                <label>Điện thoại:</label>
                <p class="form-control-static">07755611151</p>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <p class="form-control-static">trung@gmail.com</p>
            </div>
            <div class="form-group">
                <label>Địa chỉ:</label>
                <p class="form-control-static">77 Nguyễn Huệ</p>
            </div>
            <div class="form-group">
                <label>Tỉnh thành:</label>
                <p class="form-control-static">Thừa Thiên Huế</p>
            </div>

            <div class="form-group">
                <label>Trạng thái:</label>
                <p class="form-control-static">Tài khoản đang hoạt động</p>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                        Xác nhận xóa dữ liệu
                    </button>
                    <a href="~/Customer" class="btn btn-default">
                        Quay lại
                    </a>
                </div>
            </div>

        </form>

    </div>
</div>

